<h1>New Post</h1>

<%= form_with :model => @place do |form| %>
  <p>
    <%= form.label "title", "Title" %>
    <%= form.text_field "title" %>
  </p>
  <p>
    <%= form.label "description", "Description" %>
    <%= form.text_field "description" %>
  </p>
  <p>
    <%= form.label "posted_on", "Date" %>
    <%= form.text_field "posted_on" %>
  </p>
  <p>
    <%= form.hidden_field "post_id" %>
  </p>
  <%= form.submit %>
<% end %>