<h1><%= @place["name"] %></h1>

<h3>Title</h3>

<% for post in @posts %>
    <li>
        <%= post["title"] %>
        <%= post["description"] %>
        <%= post["posted_on"] %>
    </li>
<% end %>

<p><a href="/posts/new?place_id=<% @place["id"] %>">New Post for <%= @place["name"] %> </a></p>
<p><a href="/places">Back to Places</a></p>